/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.navbar {
    background-color: #1abc9c;
    height:70px;
}

.navbar-brand {
    font-family: 'Brush Script MT';
    font-size: 25px;
    color: white;
}

.nav-link {
    color:white;
}

.firstTitle {
    font-family:'Brush Script MT';
    font-size: 40px;
}



.container-flex {
    padding: 65px 25px 65px 25px;
    background-color: #f0f0f0;
}

.title {
    padding-right: 100px;
    font-weight: initial;
    color: black;
    font-family: sans-serif;
    margin-bottom: 15px;
}

.text {
    color: black;
    opacity: 0.9;
    font-size: 17px;
    font-family: sans-serif;
    padding: 0 35px 0 5px;
    text-align: left
}



.btn {
    background-color: #1abc9c;
    color:white;
}

button > a{
    color: white;
    text-decoration:none;
}

button > a:hover {
    color: black;

}

.btn:hover{
    background-color: #1abc9c;
    color:black;
}

.btn-search{
    background-color: gray;
}


.learnMoreLink {
    font-family: sans-serif;
    color: #1abc9c;
    text-decoration: none;
    font-size: 17px;
}

.learnMoreLink:hover {
    font-family: sans-serif;
    color: black;
    text-decoration: none;
    font-size: 17px;
}