@{
    ViewBag.Title = "Home Page";
}

<div class="container-flex d-flex justify-content-around">
    <img src="~/img/mclaren.jpg" class="col-3 " />
    <img src="~/img/audi.jpg" class="col-3" />
    <img src="~/img/bmw.jpg" class="col-3 " />
</div>


<div class="d-flex justify-content-between pt-4">

    <div class="col-4">
        <h2 class="title">
            Auto Sales Are Down.
            Here's Why They'll
            Continue To Fall.
        </h2>
        <p class="text">
            So far, the slowdown in new vehicle sales is show and
            gradual. Through the first two months of 2018 they
            have slipped a barely noticable 0.8%. That is about
            to change. Auto loan interest rates are now at levels
            not seen since 2010 - an average of 5.2% in
            February...
        </p>

        <a href="#" class="learnMoreLink px-3">Learn more 
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
    </div>

    <div class="col-4">
        <h2 class="title">
            7 things you should
            know about the 2018
            Audi RS 5
        </h2>
        <p class="text">
            I'm frustrated. The Arizona desert roads Audi picked
            for me to drive its track-bred coupe on were
            picturesque and open, but I found nary a sharp
            corner to attack. So, I've called in a favor and
            borrowed a Nardo Gray 2018 Audi RS 5 for some
            extra drive time.
        </p>
        <a href="#" class="learnMoreLink px-3">
            Learn more
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
    </div>

    <div class="col-4">
        <h2 class="title">
            In-Depth BMW X3
            review by Car and
            Driver
        </h2>
        <p class="text">
            We've been pretty adamant about the fact that the
            BMW X3 is one of the best car currenty in BMW's
            stable. Personally, I feel that it's the most BMW-like
            car the brand has made in a long time, with a
            steering and chassis feel that reminds me of old-
            school Bavarias.
        </p>
        <a href="#" class="learnMoreLink px-3">
            Learn more
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
                <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
    </div>
</div>